.container {
  max-width: 80rem;
  padding-top: 7.5rem;
}

.border-success{
  border: 2px solid green;
}

.border-error{
  border: 2px solid rgb(240, 33, 33);
}

input{
  outline:0;
}

.username-help-feedback {
  margin-bottom: 2.5rem;
  color: darkorange;
}

.username-success-feedback {
  margin-bottom: 2.5rem;
  color: green;
}

.submit-help-feedback {
  margin-bottom: 2.5rem;
  color: red;
}

.submit-success-feedback {
  margin-bottom: 2.5rem;
  color: green;
}
